<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Born to be mobile</h1>
            <hr>
            <p>Vous avez un projet d'<strong>application Mobile</strong> ?
              Ou bien besoin d'une <strong>formation</strong> en rapport avec l'écosystème <i>Android</i> ?</p>
            <a href="#services" class="btn btn-primary btn-xl page-scroll">Formation et Service Informatique</a>
        </div>
    </div>
</header>
