<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-graduation-cap wow bounceIn text-primary" data-wow-delay=".2s"></i>
              <h3>Formations</h3>
              <p class="text-muted">Formations en Développement Mobile et sur l'écosystème <i>Android</i><br><a href="/formations">Voir le programme</a></p>
            </div>
          </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-mobile wow bounceIn text-primary"></i>
                    <h3>Application Mobile</h3>
                    <p class="text-muted">Nous créons des apps natives Android
                      ou bien multiplateformes.<br><b>Audit</b>, <b>Développement</b>, <b>Maintenance</b>.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
              <div class="service-box">
                <i class="fa fa-4x fa-heart-o wow bounceIn text-primary" data-wow-delay=".3s"></i>
                <h3>Côte d'Azur</h3>
                <p class="text-muted">ChillCoding est basée à <b>Cannes</b>.<br>
                  Nous nous déplaçons en région <b>PACA</b> et plus loin si affinités.</p>
              </div>
            </div>
        </div>
    </div>
</section>
